.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-mask {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: grey;
        opacity: 0.5;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        background-color: white;
        border: 1px solid grey;
        color: grey;
        z-index: 10001;
        .modal-header {
            .modal-title {
                margin: 40px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: 600;
            }
            .title-bottom-line {
                margin-top: 15px;
                width: 40px;
                background-color: grey;
                height: 1px;
            }
        }
        .modal-body{
            padding: 0 30px;
            text-align: center;
            line-height: 1.5;
        }
        .modal-footer {
            width: 100%;
            display: flex;
            .btn {
                height: 18px;
                padding: 10px;
                text-align: center;
                line-height: 18px;
                border: 1px solid grey;
                font-weight: 600;
                margin: 40px 30px;
                width: 100%;
                cursor: pointer;
            }

            .btn-disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }
        }
    }
}