.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: $header-height;
    border-bottom: 1px solid grey;
    font-size: 18px;

    .header-wrapper {
        margin-left: 12%;
        display: flex;
        align-items: center;
        height: 100%;

        .logo{
            background: url('src/assets/images/logo.png') no-repeat;
            width: 70px;
            height: 40px;
            background-size: cover;
            margin-right: 20px;
        }
    }
}