.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $footer-height;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;

    i {
        display: block;
    }
}