.footer {
    @include flex-column-center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: $footer-height;
    border-top: 1px solid grey;
    font-size: 14px;
    line-height: 1.5;
    i {
        display: block;
    }
}